.form {
  text-align: right;
}

.form button {
  cursor: pointer;
  background-color: #9a2ca0;
  border-style: none;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #c71585;;
}
